<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Gym</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles for the parallax effect */
        .parallax-bg {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 100vh;
        }

        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.529);

        }

        div.hero-text {
            border-color: rgba(0, 0, 0, 0.568);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            color: rgb(242, 238, 238);
            font-size: 3rem;
            font-weight: 900;
            margin: 3rem auto;
        }

        /* Custom styles for the cover section */
        .cover {
            position: relative;
            height: 100vh;
        }

        .cover-bg {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            opacity: 0.8;
            /* Set the z-index of the background image */
            /* Adjust the opacity of the background image */
            background-attachment: fixed;
            /* Make the background image fixed */
        }

        .container {
            position: relative;
            z-index: 20;
            /* Set the z-index of the content above the background image */
        }

        .hero-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 600px;
            margin: 0 auto;
            height: 100vh;
            /* Ensure the container takes up the full viewport height */
        }

        @media(max-width:768px) {
            .hero-container {
                max-width: 300px;
            }
        }

        .content-hero {
            text-align: center;
            color: white;
        }

        /* Content inside the container */
        .hero-content {
            text-align: center;
            color: rgb(11, 11, 11);
            font-weight: 600;
            font: size 1.5rem;
            line-height: 1.5rem;
            padding-bottom: 3rem;
        }

        .hero-image {
            max-width: 500px;
            width: 100%;
            height: 50vh;
            display: block;
            margin: 2rem auto;
            position: relative;
            box-shadow: 1px 1px 3px #333;
        }

        @media(max-width:768px) {
            .hero-image {

                margin: 0rem auto;
            }
        }

        .blog-post {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            padding: 20px;
        }

        .author-info {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .post-date {
            color: #777;
        }

        h2 {
            font-size: 28px;
            color: #333;
            margin-top: 20px;
        }

        p {
            font-size: 18px;
            color: #555;
        }

        .blog-thumbnail {
            text-align: center;
        }

        .blogThumbnail-image {
            height: 200px;
            /* Adjust the height as needed */
            max-width: 100%;

        }

        .btn-smooth {
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .btn-smooth:hover {
            background-color: #007bff;
            /* Change to your desired hover color */
            color: #fff;
            /* Change to your desired text color */
        }

        /* Custom CSS for Navbar Scroll Transition */
        .navbar {
            
            background-color: rgba(0, 0, 0, 0.574);
        }
        .navbar a{
            color:rgb(234, 219, 219);
            text-decoration: none;
            
        }
        .navbar-scrolled{
            background-color: rgba(0, 0, 0, 0.983);
            color:white;
            /* Change to your desired background color */
            transition: background-color 0.3s ease-in-out;
        }
        .navbar-scrolled a{
            color:white;
        }
        input{
            background-color: grey;
            color: #333;
        }
        /* Add custom CSS for styling */
        .search-container {
            position: relative;
        }

        #blogSearchInput {
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 2px solid #007BFF;
            border-radius: 0;
            outline: none;
            transition: border-color 0.3s;
        }

        #blogSearchInput:focus {
            border-color: #FFA500;
        }
        /* Custom CSS for form styling */
        #my-form {
            background-color: #000;
            color: #8B4513; /* Dark Brown */
            padding: 20px;
            border-radius: 10px;
        }

        #my-form label {
            color: #8B4513; /* Dark Brown */
        }

        #my-form button {
            background-color: #8B4513; /* Dark Brown */
            color: #fff;
        }

        #my-form button:hover {
            background-color: #000;
            color: #8B4513; /* Dark Brown */
        }

        #my-form-status {
            color: #fff;
        }
    </style>
</head>

<body>

    <!-- Navigation Bar with Transparent to Black Background on Scroll -->
    <nav class="navbar navbar-expand-lg fixed-top" style="color:white;z-index:999;">
        <div class="container">
            <a class="navbar-brand" href="/">Gym-Khana</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:grey">
                <span class="navbar-toggler-icon" style="background-color:rgb(102, 98, 98);color:black">&darr;</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{!-- the below body will render whatever is inside the home.handlebars
    --}}
    {{{body}}}

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            &copy; 2023 Modern Gym
        </div>

    </footer>
    <script>
        // JavaScript to handle the scroll event
        window.addEventListener("scroll", function () {
            const navbar = document.querySelector(".navbar");
            if (window.scrollY > 10) {
                navbar.classList.add("navbar-scrolled");
            } else {
                navbar.classList.remove("navbar-scrolled");
            }
        });
    </script>


    <!-- Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>